header {
  text-align: center;
  padding: 1em;
  font-size: 2rem;
}

.graph {
  display: grid;
  grid-template: auto / 60% 40%;
  grid-gap: 1em;
}

#graph-id-graph-wrapper {
  border: 1px solid black;
}