header {
  text-align: center;
  padding: 1em;
  font-size: 2rem;
}

body {
  padding: 1em;
}

.graphs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 1em;
}

.graph {
  border: 1px solid black;
}

/* This sets the color for "TK" nodes to a light blue green. */
g.anotherclass>rect {
  fill: #b68569;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
}

.fake-graph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid grey;
}